@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    
}
.container{
    width: 100%;
    /* background-image: url(image/bg4.jpg); */
    /* background:linear-gradient(to right bottom,#001d3e 50%,#88104d); */
    background-color: #000;
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;                        
    overflow: hidden;
    height: auto;
    
}

#particles-js{
position: absolute;
width: 100%;
height: 100%;

}







/* navbar */  
.navbar li{
  list-style: none;

}


.navbar a{
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}


.navbar a:hover{
  color: orange;
  font-size: 27px;
  transition: smooth;
}

header{
  position: relative;
  z-index: 2;
  padding: 0 1.8rem;
  margin-top: 10px;
  /* margin-left: 15px; */
  /* margin-right: 10px; */
  background: rgba(255, 255, 255, 0.091);
  backdrop-filter: blur(30px);
  border-radius:10px;
  width: 98%;
}

.navbar{
  width: 100%;
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}


.navbar .logo img{
  margin-top: 5px;
  height: 7rem;
  width: 8rem;
margin-left: -26px;

  
 
}
.logo1 h2{
margin-top: 40px;
margin-left: 10px;
font-size: 25px;
color: rgb(255, 255, 255);
font-family: "Roboto",sans-serif;
font-weight: 100;
font-style: normal;
text-decoration: dashed;
}
.logo3 img{
margin-top: 23px;
height: 5rem;
width: 5rem;
margin-left: 6px;
}


.vl {
  margin-top: 14px;
  border-left: 2px solid rgb(255, 255, 255);
  height: 100px;
  margin-left: -11px;
}

.navbar .links{
  display: flex;
  gap: 2rem;
  margin-right: -250px;
}


.navbar .toggle_btn{
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;

}


/* 
dropdownmenu */
.dropdown_menu{
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 350px;
  height: 0;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  border-radius:10px;
  overflow: hidden;
  display: none;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
  
}

.dropdown_menu.open{
  height: 240px;
  padding: auto;
  margin: auto;
}


.empty{
  display: none;
  
}



.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* responsive */
@media(max-width:992px)
{
  .navbar .links{
      display: none;
  }

  .navbar .toggle_btn{
      display: block;
  }

  .dropdown_menu{
      display: block;
      
  }

  .event2{
    display: none;
  }
  
  
}

@media(max-width:576px){
  .dropdown_menu{
      left: 2.1rem;
      width: unset;
      background:linear-gradient(to right bottom,#001d3e 50%,#88104d);
  }

  .event2{
    display: none;

  }

  .empty{
    height: 10rem;
    background: transparent;
    display: block;
    
  }


  





  
}

  /* navbar css ends here */



















.event2{
     align-self: center;
    background-color: #fff;
    width: 95%;
    height: 40vh;
    border: solid #fff 2px;
    border-radius: 10px;
    margin: 30px; 
    cursor: pointer;
    position:relative;
}
.event2 section{
    position:relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color:black;
}

.text{
    position: relative;
    transform: skewY(342deg)translateY(-200px);
    animation: animateColor 5s linear infinite;
    opacity: 75%;
    z-index: 1;

}

.event2  .text-box h1{
    
    color: #fff;
    font-size: 200px;
    font-weight: 2000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 6px #fff;
    animation: animate 0.5s ease-in-out infinite alternate;


}

.empty .text-box h1{
  color: #fff;
 text-align: center;
 font-size: 5.8rem;
 font-weight: 1000;
 -webkit-text-stroke: 6px #fff;
  animation: animate 0.5s ease-in-out infinite alternate;

}
 





@keyframes animate {
    from{
        text-shadow: 0 0 2px #fff;
    }
    to{
        text-shadow: 0 0 40px #00d0ff,0 0 10px white;
    }
}

@keyframes animateColor {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.text h2{
  opacity:0.8;
    position: relative;
    width: 100%;
    font-size: 4em;
    color: #fff;
    pointer-events: none;
    line-height: 1em;
    text-shadow: calc(var(--x)) 100px 0 rgba(255,255,255,0.1);
    white-space: nowrap;
    transform: translateX(calc(0% - var(--x) *var(--i)));

}
.text h2 span{
    color:#0f0;
    margin: 0 10px;
}

.text h2 span:nth-child(even){
    color: transparent;
    -webkit-text-stroke: 2px #fff;


}
.event3{
  position: relative;
  margin: 0;
    
}
 .container1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
 }

 .container1 .box{
   position: relative;
   width: 340px;
   height: 550px;
   color: #fff;
   background: black;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px 70px;
   transition: 0.5s;
   border-radius: 40px;

 }


 .container1 .box:hover{
    transform: translateY(-20px);
 }



 .container1 .box:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#ffbc00,#ff0058);
    border-radius: 40px;
 }

 .container1 .box:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#ffbc00,#ff0058);
    filter: blur(30px);
    
 }

 .container1 .box:nth-child(2)::before,
 .container1 .box:nth-child(2)::after{
    background: linear-gradient(315deg,#03a9f4,#ff0058);

 }

 .container1 .box:nth-child(3)::before,
 .container1 .box:nth-child(3)::after{
    background: linear-gradient(315deg,#4dff03,#00d0ff);

 }

 .container1 .box span{
    position: absolute;
    top:6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    border-radius:40px;
 }

 .container1 .box span::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events:none;
    border-radius: 40px;
   
 }

 .container1 .box .content{
    position: relative;
    z-index: 10;
    padding: 20px 40px;
    

 }
  

 .container1 .box .content h2{
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 10px;
 }

 .container1 .box .content p{
    font-size: 0.8rem;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.4em;

 }

 .container1 .box .content a{
    display: inline-block;
    font-size: 1em;
   color:#fff;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 15px;
    border: #fff  2px solid;
    background-color: transparent;
    margin-left: 10px;
    margin-top: 5px;
 }
 .container1 .box .content a:hover{
    background-color: #fff;
    color: orangered;

 }


 .container1 .box .content img{
    width: 100%;
    height: 60%;
    border-radius: 20px;
    border: #fff solid 2px;
 }

 



/* footer css start here */


footer{
  width: 100%;
  position: relative;
  bottom: 0;
  background: #151517;
  color: #fff;
  padding: 100px  0 30px;
  /* border-top-left-radius: 125px; */
  font-size: 13px;
  line-height: 20px;
}
.footrow{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footcol{
  flex-basis: 25%;
  padding: 10px;
}

.footcol:nth-child(3),.footcol:nth-child(2){
  flex-basis: 15%;
}


.footcol h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
  font-size: large;
}
.footcol p{
  margin: 6px;
}
.footlogo{
  
  height: 120px;
  width: 120px;
  margin-bottom: 30px;
}


.footemail-id{
  width: fit-content;
  border-bottom: solid 1px #ccc;
  margin: 20px 0;
}

.footcol ul li{
  list-style: none;
  margin: 12px;
}

.footcol ul li a{
  color: #fff;
  text-decoration: none;
  font-size: medium;
}
.footcol ul li a:hover{
  color: #03a9f4;
  font-size:large;
  
}
.social-icons  .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;

}

.social-icons .fab:nth-child(1){
color: #ff0000;
}
.social-icons .fab:nth-child(2){
  color: #ff0000;
  }
  .social-icons .fab:nth-child(3){
    color: orangered;
    }
    .social-icons .fab:nth-child(4){
      color: blue;
      }



      .social-icons .fab:hover:nth-child(1){
        background-color: lightcyan;
        }
        .social-icons .fab:hover:nth-child(2){
          background-color: lightcyan;
          }
          .social-icons .fab:hover:nth-child(3){
            background-color: lightcyan;
            }
            .social-icons .fab:hover:nth-child(4){
              background-color: lightcyan;
              }

footer hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.footcopyright{
  text-align: center;

}

.underline{
  width: 100%;
  height: 5px;
  background:#767676 ;
  border-radius: 3px;
  position: absolute;
  top:25px;
  left: 0;
  overflow: hidden;
}

.underline span{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: footmoving 2s linear infinite;
}


@keyframes footmoving{
  0%{
      left: -20px;
  }

  100%{
      left: 100%;
  }

}


@media(max-width:700px){
footer{
  bottom: unset;
}


.footcol{
  flex-basis: 100%;

}

.footcol:nth-child(3),.footcol:nth-child(2){
  flex-basis: 100%;
}

}

/* footer css ends here */

