@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif; 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background: linear-gradient(125deg,#001d3e ,#88104d); */
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
    /* background-image: linear-gradient(-225deg, #8D0B93 50%, #321575 100%); */
    /* background-image: url(image/bg4.jpg); */
   
}


body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  /* background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent) */
background-color: #000;
}
canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}






.container1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}




  
.navbar li{
    list-style: none;
  
  }
  
  
  .navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }
  
  
  .navbar a:hover{
    color: aqua;
  }
  
  header{
    position: relative;
    width: 98%;
    padding: 0 2rem;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.091);
    backdrop-filter: blur(1000px);
    border-radius:10px;
  }
  
  .navbar{
    width: 100%;
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  
  
  .navbar .logo img{
    height: 130px;
    width: 130px;
  }
  
  .navbar .links{
    display: flex;
    gap: 2rem;
  }
  
  
  .navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  
  }
  
  
  /* 
  dropdownmenu */
  .dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: linear-gradient(to right bottom,#001d3e 50%,#88104d);
    backdrop-filter: blur(15px);
    border-radius:10px;
    overflow: hidden;
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    
  }
  
  .dropdown_menu.open{
    height: 240px;
    padding: auto;
    margin: auto;
  }
  
  
  
  
  
  
  .dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  /* responsive */
  @media(max-width:992px)
  {
    .navbar .links{
        display: none;
    }
  
    .navbar .toggle_btn{
        display: block;
    }
  
    .dropdown_menu{
        display: block;
    }
  
    .event2{
      display: none;
    }
    
    
  }
  
  @media(max-width:576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
  
    .event2{
      display: none;
  
    }
  
    .empty{
      height: 240px;
      background: transparent;
      display: block;
    }
  }
  
    /* navbar css ends here */



  .container2 h1{
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    margin: 20px;
    padding: 20px;
  
  }  
  
  
  

.container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;

}

.container .cards{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.container .cards .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.container .cards:hover .content{
    opacity: 1;
     transform: translateY(-20px);
}


.container .cards .content .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0,0,0,0.25);
}



.container .cards .content .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .cards .content .contentBx h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container .cards .content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}


.container .cards .sci{
    position: absolute;
    bottom: 50px;
    display: flex;
}

.container .cards .sci li{
    list-style: none;
    margin:0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s*var(--i));
}

.container .cards:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}


.container .cards .sci li a{
    color: #fff;
    font-size: 24px;
}

