@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif; 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* background:#000; */
    /* background: linear-gradient(125deg,#001d3e ,#88104d); */
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
    /* background-image: linear-gradient(-225deg, #8D0B93 50%, #321575 100%); */
    /* background-image: url(image/bg4.jpg); */
   
}

canvas {
  width: 100%;

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure the canvas stays in the background */
}

#overlay-content {
  position: relative;
  z-index: 1; /* Place the overlay content on top of the canvas */
  color: white;
  text-align: center;
  font-size: 24px;
  margin-top: 50px; /* Or any other layout adjustments you need */
}








.container1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}




  
.navbar li{
    list-style: none;
  
  }
  
  
  .navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }
  
  
  .navbar a:hover{
    color: orange;
    font-size: 27px;
    transition: smooth;
  }
  
  header{
    position: relative;
    z-index: 2;
    padding: 0 2rem;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.091);
    backdrop-filter: blur(15px);
    border-radius:10px;
    width: 98%;
  }
  
  .navbar{
    width: 100%;
    height: 100px;
    max-width: 12000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  
  
  .navbar .logo img{
    height: 130px;
    width: 130px;
  }
.logo1 h2{
  margin-top: 40px;
  margin-left: 10px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-family: "Roboto",sans-serif;
  font-weight: 100;
  font-style: normal;
  text-decoration: dashed;
  }
  
.logo3 img{
  margin-top: 31px;
  height: 5rem;
  width: 5rem;
  margin-left: 10px;
}
  
  
  .vl {
    margin-top: 20px;
    border-left: 2px solid rgb(255, 255, 255);
    height: 100px;
    margin-left: -10px;
  }
  .navbar .links{
    display: flex;
    gap: 2rem;
  }
  
  
  .navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  
  }
  
  
  /* 
  dropdownmenu */
  .dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: linear-gradient(to right bottom,#001d3e 50%,#88104d);
    backdrop-filter: blur(15px);
    border-radius:10px;
    overflow: hidden;
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    
  }
  
  .dropdown_menu.open{
    height: 240px;
    padding: auto;
    margin: auto;
  }
  
  
  
  
  
  
  .dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  /* responsive */
  @media(max-width:992px)
  {
    .navbar .links{
        display: none;
    }
  
    .navbar .toggle_btn{
        display: block;
    }
  
    .dropdown_menu{
        display: block;
    }
  
    .event2{
      display: none;
    }
    
    
  }
  
  @media(max-width:576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
  
    .event2{
      display: none;
  
    }
  
    .empty{
      height: 240px;
      background: transparent;
      display: block;
    }
  }

  @media only screen and (max-width:
  768px){
    html,
    body{
      width: 100%;
      overflow-x: hidden;
    }
  }
  
    /* navbar css ends here */

    /* cards start here*/

  .container2 h1{
      text-align: center;
      color: #fff;
      font-size: 1.8rem;
      margin: 20px;
      padding: 20px;   
    } 


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}
    
.container .box{
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}
    
.container .box::before{
    content:' ';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}
    
.container .box::after{
    content:'';
    position: absolute;
    top: 0;
    left: 50;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
}
    
.container .box:hover:before,
.container .box:hover:after{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);  
}
    
.container .box:nth-child(1):before,
.container .box:nth-child(1):after{
    background: linear-gradient(315deg, #ffbc00, #ff0058)
}
    
.container .box:nth-child(2):before,
.container .box:nth-child(2):after{
    background: linear-gradient(315deg, #03a9f4, #ff0058)
}
    
.container .box:nth-child(3):before,
.container .box:nth-child(3):after{    
 background: linear-gradient(315deg, #768087, #87ceeb)
}
    
.container .box span
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
}
    
.container .box span::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.1s;  
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}
    
.container .box:hover span::before{
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
    
.container .box span::after{
    content:'';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    animation-delay: -1s;
}
    
.container .box:hover span:after{
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
    
@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }

  50%
  {
    transform: translate(-10px);
  }
}
    
.container .box .content
{
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
}
    
.container .box:hover .content
{
    left: -25px;
    padding: 60px 40px;
}
    
.container .box .content h2
{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}
    
.container .box .content p
{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}
    
.container .box .content a
{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}
    
.container .box .content a:hover
{
    background: #ffcf4d;
    border: 1px solid rgba(255, 0, 88, 0.4);
    box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
    backdrop-filter: blur(100px);
    opacity: 100px;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}
    
.container .box{
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}
    
.container .box::before{
    content:' ';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}
    
.container .box::after{
    content:'';
    position: absolute;
    top: 0;
    left: 50;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(230px);
}
    
.container .box:hover:before,
.container .box:hover:after{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);  
}
    
.container .box:nth-child(1):before,
.container .box:nth-child(1):after{
    background: linear-gradient(315deg, #e6e3db1a, #e2dedba6)
}
    
.container .box:nth-child(2):before,
.container .box:nth-child(2):after{
    background: linear-gradient(315deg, #0799a39a,  #e2dedba6)
}
    
.container .box:nth-child(3):before,
.container .box:nth-child(3):after{    
 background: linear-gradient(315deg, #8903aab2,#e2dedba6)    
}

.container .box:nth-child(4):before,
.container .box:nth-child(4):after{    
 background: linear-gradient(315deg, #ced1219d, #e2dedba6)
}
    
.container .box span
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
}
    
.container .box span::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.1s;  
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}
    
.container .box:hover span::before{
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
    
.container .box span::after{
    content:'';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 2);
    animation-delay: -1s;
}
    
.container .box:hover span:after{
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
    
@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }

  50%
  {
    transform: translate(-10px);
  }
}
    
.container .box .content
{
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 4);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
}
    
.container .box:hover .content
{
    left: -25px;
    padding: 60px 40px;
}
    
.container .box .content h2
{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}
    
.container .box .content p
{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}
    
.container .box .content a
{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}
    
.container .box .content a:hover
{
    background: #ffcf4d;
    border: 1px solid rgba(255, 0, 88, 0.4);
    box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}